<!DOCTYPE html>
<html>
<head>
  <title>Hospital</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul id="navigation">
  <li><%= link_to 'Appointments', appointments_path %></li>
  <li><%= link_to 'Physicians', physicians_path %></li>
  <li><%= link_to 'Patients', patients_path %></li>
</ul>

<%= yield %>

</body>
</html>
